@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
@tailwind


 base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: auto;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
    -webkit-text-size-adjust: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.box {
  margin: 0px;
  border-radius: 0;
}
::-webkit-scrollbar{
  @apply bg-secondary w-[2px];

  
}
::-webkit-scrollbar-thumb{
  @apply bg-primary
}
h1{
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1rem;
}
p{
  @apply max-w-2xl mb-4 sm:text-xs md:text-sm lg:text-base;
}
* {
  box-sizing: border-box;
}
section {
  @apply mx-auto;
}
object {
  @apply h-full bg-none;
}
.hero{
  @apply flex flex-wrap w-full items-center justify-between container
}
.heroBtn{
  @apply p-6 rounded uppercase hover:font-medium hover:rounded-md border max-h-fit border-accent hover:bg-secondary hover:text-base ease-in-out duration-300;
}
nav{
@apply m-2 md:m-5 fixed z-30 ;
}
.image-container {

  @apply block w-full h-full relative;


}
.image {
  object-fit: contain;
  position: relative !important;
}
.navbar{
  @apply flex  p-2 rounded-lg justify-between items-center shadow-sm  hover:bg-secondary hover:text-white ease-in-out duration-300  border-secondary border border-opacity-50;
}
.navbar a{
  @apply text-lg md:text-2xl hover:text-4xl hover:shadow-xl ease-in-out duration-500;
}
.ThemeBtn{
  @apply hover:text-secondary fixed right-0 p-3 md:p-5 m-5  md:text-4xl text-2xl ease-in-out duration-500;
}

a {
  color: inherit;
  text-decoration: none;
}
.teamBtn{
  @apply   uppercase text-sm hover:font-medium max-h-fit hover:bg-secondary hover:text-white ease-in-out  duration-500;
}
* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.circle {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  opacity: 0.3;
}

.circle.sm {
  width: 30px;
  height: 30px;
}

.circle.md {
  width: 60px;
  height: 60px;
}

.circle.lg {
  width: 90px;
  height: 90px;
}
